<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="author" content="allanyu"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>页面名--项目名(必需要有2级title，且以--分隔)</title>
    <link rel="stylesheet" href="../css/g.less" media="screen"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="http://source1.qq.com/wsd/html5.js"></script>
    <![endif]-->
</head>
<body>
<div>
    hello world
</div>
</body>
</html>
